<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <ul>
            <% messages.forEach((message) => { %>
                <%- include('messages/message', { id: message.id, user: message.user, date: message.added, message: message.text }); %>
            <% }); %>
        </ul>
        <a class="new-message-btn" href="/new">Create New Message</a>
    </body>
</html>
