body {
    color: red;
}

.new-message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px    ;
}

.new-message-btn {
    background: grey;
    padding: 8px 10px;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.message-item {
    display: flex;
    flex-direction: column;

    .author {
        color: black;
    }

    .date {
        color: grey;
        font-size: 14px;
    }

    .message {
        margin-top: 10px;
    }
}
