<li>
    <div>
        <span>User: <%= user %></span>
        <span>Date: <%= date %></span>
        <span>Message: <%= message %></span>
        <a href="/message?id=<%= id %>">View Message</a>
    </div>
</li>
