<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <div class="content">
            <div class="board">
                <div class="head">
                    <span>Create Message</span>
                </div>
                <form class="new-message-form" method="POST" action="/new">
                    <div class="field">
                        <label for="author">Author</label>
                        <input name="author" type="text" id="author" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea class="text-area" name="message" type="textbox" id="message"></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
