<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <form class="new-message-form" method="POST" action="/new">
            <div>
                <label for="author">Author</label>
                <input name="author" type="text" id="author" />
            </div>
            <div>
                <label for="message">Message</label>
                <input name="message" type="textbox" id="message"/>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
